In [1]:
import pandas as pd
import nltk
from nltk import word_tokenize ,pos_tag
from nltk.corpus import stopwords
import warnings
# Ignore warnings
warnings.filterwarnings("ignore")

In [2]:
X_train = pd.read_csv ('..\\Spliting Data\\X_train.csv')['Data']
y_train = pd.read_csv ('..\\Spliting Data\\y_train.csv')['Data']

X_test = pd.read_csv  ('..\\Spliting Data\\X_test.csv')['Data']
y_test = pd.read_csv ('..\\Spliting Data\\y_test.csv')['Data']

X_val = pd.read_csv   ('..\\Spliting Data\\X_val.csv')['Data']
y_val = pd.read_csv ('..\\Spliting Data\\y_val.csv')['Data']

In [3]:
print(X_train.shape)
print(y_train.shape)
print('-----------------')
print(X_test.shape)
print(y_test.shape)
print('-----------------')
print(X_val.shape)
print(y_val.shape)

(269153,)
(269153,)
-----------------
(41502,)
(41502,)
-----------------
(41502,)
(41502,)

In [4]:
stop_words = set(stopwords.words('english'))

def preprocess(text):
    
#     text = text.lower()  # Convert to lowercase
    
    tokens = nltk.word_tokenize(text)  # Tokenize the text into word tokens
    
    tokens = [token for token in tokens if token.isalpha()]  # Remove punctuation and numbers
    
    pos_tags = pos_tag(tokens)
    
    tags = []
    
    for token , tag in pos_tags:
        if token.lower() not in stop_words:
            tags.append (tag)
    
    return ' '.join(tags)

In [5]:
X_train = [preprocess(text) for text in X_train]

In [6]:
X_test = [preprocess(text) for text in X_test]

In [7]:
X_val = [preprocess(text) for text in X_val]

In [8]:
train_dataframe = pd.DataFrame ({'headline': X_train , 'category' :y_train })

In [9]:
test_dataframe = pd.DataFrame  ({'headline': X_test , 'category' :y_test })

In [10]:
val_dataframe = pd.DataFrame   ({'headline': X_val , 'category' :y_val })

In [12]:
train_dataframe['headline'] = train_dataframe['headline'].str.strip()

train_dataframe = train_dataframe[~(train_dataframe['headline'] == '')]

In [13]:
test_dataframe['headline'] = test_dataframe['headline'].str.strip()

test_dataframe = test_dataframe[~(test_dataframe['headline'] == '')]

In [14]:
val_dataframe['headline'] = val_dataframe['headline'].str.strip()

val_dataframe = val_dataframe[~(val_dataframe['headline'] == '')]

In [15]:
print("Number of duplicate headlines in train = ", train_dataframe.duplicated(['headline'], keep = 'last').sum())
print("Number of duplicate headlines in test  = ", test_dataframe.duplicated (['headline'], keep = 'last').sum())
print("Number of duplicate headlines in val   = ", val_dataframe.duplicated  (['headline'], keep = 'last').sum())

Number of duplicate headlines in train =  194493
Number of duplicate headlines in test  =  29302
Number of duplicate headlines in val   =  29450

In [16]:
#Removing duplicates
#inplace=True: This argument modifies the DataFrame in place, meaning it doesn't
#return a new DataFrame but rather changes the original DataFrame (data) directly.

train_dataframe.drop_duplicates(['headline'], keep = 'last', inplace = True)
# test_dataframe.drop_duplicates (['headline'], keep = 'last', inplace = True)
# val_dataframe.drop_duplicates  (['headline'], keep = 'last', inplace = True)

In [17]:
print("Total number of rows after removing duplicates in train = ",train_dataframe.shape[0])
print("Total number of rows after removing duplicates in test  = ",test_dataframe.shape[0])
print("Total number of rows after removing duplicates in val   = ",val_dataframe.shape[0])

Total number of rows after removing duplicates in train =  74572
Total number of rows after removing duplicates in test  =  41464
Total number of rows after removing duplicates in val   =  41477

In [18]:
print(train_dataframe.isnull().sum())
print(test_dataframe.isnull().sum())
print(val_dataframe.isnull().sum())

headline    0
category    0
dtype: int64
headline    0
category    0
dtype: int64
headline    0
category    0
dtype: int64

In [19]:
train_dataframe['category'].value_counts()

category
OTHER6            7327
BUSINESS          6874
QUEER VOICES      6447
SPORTS            6295
FOOD & DRINK      4821
OTHER4            4449
STYLE & BEAUTY    4413
OTHER2            4376
TRAVEL            4222
OTHER7            4186
OTHER1            4149
OTHER3            4140
OTHER5            3762
ENTERTAINMENT     3745
WELLNESS          2828
POLITICS          2538
Name: count, dtype: int64

In [20]:
X_train = train_dataframe['headline']
y_train = train_dataframe['category']

X_test =  test_dataframe['headline']
y_test =  test_dataframe['category']

X_val =  val_dataframe['headline']
y_val =  val_dataframe['category']

In [21]:
X_train

0         NNP NNP VBZ NN NNP NNP NNP NNP NNP VBG RB
23                       NNS NNP NNP RB VBG NNP NNP
37                                 NNP RB VBN JJ NN
43                  IN NNPS NNP NNP NNP NNP NNP NNP
53                 JJ NNP NNPS NNP NNP NNPS NNP NNP
                            ...
269147                                  NNP NNP NNP
269148                         JJ NN NNP NNP NNP NN
269149           NNS NNP NNP NNS NNP NNP JJ NNP NNP
269150                      NNP NNP NNP NNS NNP NNP
269152                                   NN NNP NNP
Name: headline, Length: 74572, dtype: object

In [22]:
# Convert the list of strings to a DataFrame
df = pd.DataFrame(list(X_train), columns=['Data'])

# Specify the CSV file path
csv_file_path = "POS Spliting Data\\X_train.csv"

# Write DataFrame to CSV file
df.to_csv(csv_file_path, index=False)

In [23]:
# Convert the list of strings to a DataFrame
df = pd.DataFrame(list(y_train), columns=['Data'])

# Specify the CSV file path
csv_file_path = "POS Spliting Data\\y_train.csv"

# Write DataFrame to CSV file
df.to_csv(csv_file_path, index=False)

In [24]:
# Convert the list of strings to a DataFrame
df = pd.DataFrame(list(X_test), columns=['Data'])

# Specify the CSV file path
csv_file_path = "POS Spliting Data\\X_test.csv"

# Write DataFrame to CSV file
df.to_csv(csv_file_path, index=False)

In [25]:
# Convert the list of strings to a DataFrame
df = pd.DataFrame(list(y_test), columns=['Data'])

# Specify the CSV file path
csv_file_path = "POS Spliting Data\\y_test.csv"

# Write DataFrame to CSV file
df.to_csv(csv_file_path, index=False)

In [26]:
# Convert the list of strings to a DataFrame
df = pd.DataFrame(list(X_val), columns=['Data'])

# Specify the CSV file path
csv_file_path = "POS Spliting Data\\X_val.csv"

# Write DataFrame to CSV file
df.to_csv(csv_file_path, index=False)

In [27]:
# Convert the list of strings to a DataFrame
df = pd.DataFrame(list(y_val), columns=['Data'])

# Specify the CSV file path
csv_file_path = "POS Spliting Data\\y_val.csv"

# Write DataFrame to CSV file
df.to_csv(csv_file_path, index=False)